<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>
    <title>Mapas en Google</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="../index.html">Regresar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">

            </div>
        </div>
    </nav>

    <button onclick="obtenerLocalizacion()">Obtener localización</button>
    <p id="txtLocalizacion"></p>
    <img id="map">
    <script>
        var txtLocalizacion = document.getElementById("txtLocalizacion");

        function obtenerLocalizacion() {
            if (!navigator.geolocation) {
                txtLocalizacion.innerText = "Tu navegador no es compatible";
            }
            // Flujo normal
            setInterval(() => {
                navigator.geolocation.getCurrentPosition(mostrarPos, errorLoc);
            }, 1000);
        }

        function mostrarPos(pos) {
            txtLocalizacion.innerHTML = "Latitud: " + pos.coords.latitude + "<br/>"
                + "Longitud: " + pos.coords.longitude;

            var img_url = "https://maps.googleapis.com/maps/api/staticmap" +
                "?center=" + pos.coords.latitude + "," + pos.coords.longitude +
                "&zoom=14" +
                "&size=400x300" +
                "&key=AIzaSyCv9VAsM4KzjDdvuV2CzFAMuazqOfqFlgM";

            var map = document.getElementById("map");
            map.setAttribute("src", img_url);
        }

        function errorLoc(error) {
            switch (error.code) {
                case error.PERMISSION_DENIED:
                    txtLocalizacion.innerText = "No tienes permisos de acceder a la Geolocalización";
                    break;
                case error.POSITION_UNAVAILABLE:
                    txtLocalizacion.innerText = "No se pudo acceder a la localización";
                    break;
                case error.TIMEOUT:
                    txtLocalizacion.innerText = "El tiempo de respuesta para obtener la localización se agoto";
                    break;
                case error.UKNOWN_ERROR:
                    txtLocalizacion.innerText = "A ocurrudo un error";
                default:
                    txtLocalizacion.innerText = "A ocurrudo un error";
                    break;
            }
        }
    </script>
</body>

</html>